extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
  .container.my-3 
    .row 
      .col-12 
        +box-head("Products List")
    .row 
      each value in products
        .col-4.mb-13
          a(href=`/products/${value.slug}`)
            .product-item 
              .inner-image 
                img(src=value.thumbnail, 
                alt=value.title)
              div(class="inner-content")
                h3(class="inner-title") #{value.title}
                .inner-price-new #{value.price}$
                .inner-price-old #{value.deletePrice}$
                .inner-discount -#{value.discountPercentage}%